<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Airline Booking System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body><b>
    <p th:text="'Welcome to TWAirline'"/></b>
<form method="post" th:action="@{/search}" th:object="${flight}">
    <table>
        <tr>
            <td>
                <p th:text="'Source: '"/></td>
            <td>
                <select title="Source" class="form-control" id="source" name="source" th:field="*{source}">
                    <option value="">Select Source</option>
                    <option th:each="city : ${cities}"
                            th:value="${city.id}"
                            th:text="${city.name}"
                    >
                    </option>
                </select></td>
            <td>
                <p th:text="'Destination: '"/></td>
            <td>
                <select class="form-control" id="destination" name="destination" th:field="*{destination}">
                    <option value="">Select Destination</option>
                    <option th:each="city : ${cities}"
                            th:value="${city.id}"
                            th:text="${city.name}"
                    >
                    </option>
                </select></td>
        </tr>
    </table>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>